html {
	font-family: sans-serif;
}

body {
	margin: 0;
	background-color: #f6ff00;
}

div.container {
	max-width: 800px;
}

.list-group {
	margin-top: 50px;
}

.list-group-item {
	background-color: #000;
	color: #fff;
	font-weight: 600;
	font-family: Roboto;
	font-size: 1.3em;
}

#idea-form {
	margin-top: 15px;
}

.add-idea-btn {
	margin-bottom: 5px;
}
